.wrapper{
    width:770px;
    margin:0 auto;
}


.red{
	height: 100px;
	background-color: red;
	clear:both;
    margin-bottom: 20px;
}

#blue{
	width:33%;
	height: 650px;
	background-color: blue;
    float:right;
    margin-bottom: 20px 
    }

#green{ 
    width:33%;
    height: 650px;
	background-color: green;
    float:right;
    margin-bottom: 20px
    
}

#yellow{
	width:33%;
	height:   650px;
    background-color: yellow;
    margin-bottom: 20px;
    
}
